body {
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
}

.Base {
    display: flex;
    padding: 0 2rem;
    background-color: red;
}

.card {
    padding: 0 2rem;
}

.card img{
    background-color: bisque;
    width: 10.5rem;
    height: 12.5rem;
}